
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner_w3lspvt-2">
</div>

<div class="breadcrumb-agile">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Home/Index">Anasayfa</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Hakkımızda</li>
    </ol>
</div>
<section class="about-w3ls py-5" id="about">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title text-center text-bl font-weight-bold mb-1">Hakkımızda</h3>
        <br>
        <div class="row">
            <div class="col-lg-6 about-left-w3pvt">
                <div class="main-img">
                    <img src="~/web/31186-0.jpg" alt="" class="img-fluid pos-aboimg2 ">
                    <br>
                    <img src="~/web/1672266_770x443.jpg" alt="" class="img-fluid pos-aboimg2 ">
                </div>
            </div>

            <div class="col-lg-6 about-right col-xl-5">
                <p class="pabout">Salonumuz 2019 yılında Muğla'da açılmış olup halen hizmet vermektedir.</p>
                <p class="pabout">100 kişi kapasiteli olan salonumuz Covid-19 sebebiyle kapasitesi 50 kişi ile sınırlandırılmıştır.</p>
                <p class="pabout">Salonumuzda Kadın-Erkek olmak üzere 2 adet soyunma odası vardır.Soyunma odalarımızda yeterli sayıda kilitli dolap bulunmaktadır.Ayrıca 3 adet duş ve 3 adet tuvalet mevcuttur.</p>
                <p class="pabout">Sıcak su hizmetimiz mevcuttur.</p>
                <p class="pabout">Salon bünyemizde 4 adet antrenörümüz ve 1 adet sağlık uzmanımız vardır.Antrenörlerimiz Vücut Geliştirme Federasyonu ve Gençlik Spor İl Müdürlüğü onaylı belgelere sahiptirler.</p>
                <p class="pabout">Salonumuzda vücut geliştirme, zumba,cardio,vücut geliştirme,pilates dersleri uzmanlar eşliğinde yapılmaktadır.</p>
                <p class="pabout">Salonumuz haftanın her günü 09:00-23:00 saatleri arasında hizmet vermektedir.</p>
                <p class="pabout">Salonumuzu denemek için 5 ücretsiz giriş hakkımız vardır.</p>
                <p class="pabout">Sizi de aramızda görmek için sabırsızlanıyoruz :)</p>
            </div>
        </div>
        </div>
</section>
<div class="services py-5" id="services">
    <div class="container py-xl-5 py-lg-3" id="hakkimizda">
        <h3 class="title text-center text-bl font-weight-bold mb-1">Hizmetlerimiz</h3>
        <div class="ins-sec1">
            <div class="row">
                <div class="col-lg-8 mx-auto mt-lg-5">
                    <div class="row">
                        <div class="col-lg-6 my-lg-0 my-md-5">


                            <h3><img src="~/web/6643364_diet_fitness_pilates_pose_yoga_icon.png" />Pilates<img src="~/web/6643364_diet_fitness_pilates_pose_yoga_icon.png" /></h3>
                            <p class="pservices">
                                Pilates,kasları güçlendirmek, esnekliği arttırmak ve vücudun genel sağlığını iyileştirmek amacıyla geliştirilmiş bir egzersiz sistemidir.Egzersizler minder üzerinde ya da özel olarak dizayn edilmiş aletlerle yapılır.
                                Salonumuzda uzmanlar eşliğinde pilates hizmeti verilmektedir.Pilates derslerimiz Pazar günleri hariç olmak üzere her gün vardır.Vücut analiziniz yapılıp kaslarınızın ne durumda olduğunu öğrendikten sonra derslere başlayabilirsiniz.
                            </p>

                        </div>
                        <div class="col-lg-6 mt-lg-0 mt-md-5">


                            <h3><img src="https://img.icons8.com/ios/48/000000/dancing.png" />Zumba<img src="https://img.icons8.com/ios/48/000000/dancing.png" /></h3>
                            <p class="pservices">
                                Zumba bilinen tanımıyla çeşitli latin danslarından esinlenerek oluşturulan koreografilerin fitness ve dans egzersizine dönüşmesiyle ortaya çıkan fitness egzersizidir. Daha sonraları tüm dünyaya yayılmasıyla neredeyse tüm hareketli şarkılar zumba ile kullanılır olmuş.Dans ederken hem stres attıran hem de zayıflatan yeni bir fitness programıdır.Salonumuzda haftanın her günü profesyonel eğitmenlerimizle birlikte Zumba derslerimiz mevcuttur.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mx-auto mt-lg-5">
                <div class="row mt-md-5 pt-md-5">
                    <div class="col-md-4"></div>

                    <div class="col-md-6 ">
                        <h3><img src="https://img.icons8.com/dotty/48/000000/exercise.png" />Cardio<img src="https://img.icons8.com/dotty/48/000000/exercise.png" /></h3>
                        <p class="pservices">Kardiyovasküler kelimesinin kısaltılmış hali olarak ifade edilen bu egzersiz tipi kalp damar ve akciğerleri yoğun olarak çalıştıran ve güçlendiren egzersizler grubudur.Cardio egzersizi insan vücudundaki kan dolaşımını sağlıklı bir şekilde gerçekleştirilmesini sağlar. Dışarıdan alınan besinler parçalanarak kana geçer ve kalp ve dolaşım sistemi sayesinde bütün dokulara dağıtılmaktadır. Yapılan bu egzersiz ile kalp kaslarımızın kuvvetlenmesi sayesinde bir kere kalp pompalama yaptığında kan vücutta daha uzun yol almaktadır.Salonumuzda  sizin seçeceğiniz cardio çeşidine göre(temel-ileri) size özel hazırlanmış antrenman programı ile antrenörlerimiz eşliğinde yapabilirsiniz. </p>

                    </div>
                    <div class="col-md-2 "></div>
                </div>
            </div>
        </div>
    </div>



    <div class="team py-0" id="team">
        <div class="container pb-xl-5 pb-lg-3">
            <h3 class="title text-center text-bl font-weight-bold mb-1">Antrenörlerimiz</h3>
            <div class="row team-bottom pt-4">
                <div class="col-lg-3 col-6 team-grid">
                    <img src="~/web/images.jpg" style="width:400px; height:300px " class="img-fluid" alt="">
                    <div class="caption">
                        <div class="team-text">
                            <h4>
                                Ayşe Çelik</h4>
                                <p>Fitness Antrenörü </p>
                        </div>

                    </div>
                </div>
                <div class="  col-lg-3 col-6 team-grid">
                    <img src="~/web/trainer2.jpg" style="width:400px; height:300px " class="img-fluid" alt="">
                    <div class="caption">
                        <div class="team-text">
                            <h4>
                                Ali Göz</h4>
                                <p>Fitness Antrenörü</p>
                        </div>

                    </div>
                </div>
                <div class="  col-lg-3 col-6 team-grid ">
                    <img src="~/web/indir.jpg" style="width:400px; height:300px " class="img-fluid" alt="">
                    <div class="caption">
                        <div class="team-text">
                            <h4>
                                Fatma Yürek</h4>
                                <p>Pilates Eğitmeni</p>
                        </div>

                    </div>
                </div>
                <div class=" col-lg-3 col-6 team-grid ">
                    <img src="~/web/zumba-faydalari.jpg" style="width:400px; height:300px " class="img-fluid" a>
                    <div class="caption">
                        <div class="team-text">
                            <h4>Ela Kır</h4>
                                <p>Zumba Eğitmeni</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
