
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner_w3lspvt">
    <div class="csslider infinity" id="slider1">
        <input type="radio" name="slides" checked="checked" id="slides_1" />
        <input type="radio" name="slides" id="slides_2" />

        <ul class="banner_slide_bg">
            <li>
                <div class="container">
                    <div class="w3ls_banner_txt">
                        <p>Salonumuza Hoşgeldiniz</p>
                        <h3 class="w3ls_pvt-title">REFORMATION FITNESS & GYM</h3>
                        <a href="/Home/Hakkimizda" style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Daha Fazla</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="container">
                    <div class="w3ls_banner_txt text-center mx-auto">
                        <h3 class="w3ls_pvt-title">Fitness Kariyerine Bugün Bizimle Başla!</h3>
                        <a href="/Home/Hakkimizda" style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Daha Fazla</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="container">
                    <div class="w3ls_banner_txt text-right ml-auto">

                        <h3 class="w3ls_pvt-title">İstediğini Elde Etmek İçin Asla Geç Değil</h3>
                        <a href="/Home/Hakkimizda" style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Daha Fazla</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="arrows">
            <label for="slides_1"></label>
            <label for="slides_2"></label>

        </div>
        <div class="navigation">
            <div>
                <label for="slides_1"></label>
                <label for="slides_2"></label>

            </div>
        </div>
    </div>
</div>



<!-- best in -->
<div class="models-agile pb-5 py-xl-0 py-md-5">
    <div class="container pb-xl-5 pb-lg-3">
        <div class="row">
            <div class="offset-xl-2">
            </div>
            <div class="col-xl-5 col-md-6 left-models mt-lg-5 mt-md-3 pt-lg-4">
                <h3 class="title text-bl font-weight-bold mb-1">Birden Çok Alanda Antrenörlerimizle Birlikte Hizmetinizdeyiz</h3>
                <p>Zumba,pilates,cardio ve vücut geliştirme alanlarında profesyonel antrenörlerimizle birebir ya da grup şeklinde antrenman yapabilir,sporu eğlenceli hale getirebilirsiniz. </p>
                <a href="/Home/Hakkimizda" style="max-width: 150px;" class="btn button-style button-style-3 mt-sm-5 mt-4">Daha Fazla</a>
            </div>
            <div class="col-xl-5 col-md-6 right-models text-center mt-md-0 mt-5">
                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body py-lg-5 py-4">
                                <img src="https://img.icons8.com/glyph-neue/64/000000/dancing.png" />
                                <h5 class="card-title mt-3">Zumba</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body py-lg-5 py-4">
                                <img src="https://img.icons8.com/glyph-neue/64/000000/pilates.png" />
                                <h5 class="card-title mt-3">Pilates</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body py-lg-5 py-4">
                                <img src="https://img.icons8.com/ios-glyphs/64/000000/exercise.png" />
                                <h5 class="card-title mt-3">Cardio</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body py-lg-5 py-4">
                                <img src="https://img.icons8.com/ios/64/000000/bench-press-with-dumbbells.png" />
                                <h5 class="card-title mt-3">Vücut Geliştirme</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="middle-w3l text-center py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="py-xl-4 py-lg-2">
            <p class="mx-auto font-weight-bold">
                <img src="https://img.icons8.com/ios/50/000000/triceps.png" />Farklı Görün
                <br>Farklı Hisset!<img src="https://img.icons8.com/ios/50/000000/triceps.png" />
            </p>
            <a href="/Home/Kayitol" style="max-width: 150px;" class="btn button-style mt-sm-5 mt-4">Bize Katıl</a>
        </div>
    </div>
</div>